In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
train = pd.read_csv("train.csv", index_col=0) # 学習用データ
test = pd.read_csv("test.csv", index_col=0)   # 評価用データ
sample_submit = pd.read_csv("sample_submit.csv", index_col=0, header=None) # 応募用サンプルファイル

In [2]:
pd.get_dummies(train).corrwith(train["charges"])

age                 0.102112
bmi                 0.171282
children            0.026830
charges             1.000000
sex_female         -0.118389
sex_male            0.118389
smoker_no          -0.723247
smoker_yes          0.723247
region_northeast   -0.026767
region_northwest   -0.069689
region_southeast    0.148423
region_southwest   -0.053630
dtype: float64

In [3]:
train = pd.get_dummies(train)
test = pd.get_dummies(test)

In [4]:
train["age_bmi"] = train["age"] * train["bmi"]
test["age_bmi"] = test["age"] * test["bmi"]

train["age_squared"] = train["age"]**2
test["age_squared"] = test["age"]**2
train["bmi_log"] = np.log(train["bmi"] + 1)
test["bmi_log"] = np.log(test["bmi"] + 1)
# train["smoker_yes_region_southeast"]=train["smoker_yes"]*train["region_southeast"]
# test["smoker_yes_region_southeast"] = test["smoker_yes"] *test["region_southeast"]

# train["smoke_bmi_age"] = train["smoker_yes"] * train["bmi"]*train["age"] 
# test["smoke_bmi_age"] = test["smoker_yes"] * test["bmi"]*test["age"]

In [5]:
from sklearn.preprocessing import StandardScaler

# 標準化の対象となる特徴量を選択
selected_features = ["age", "bmi","age_bmi","age_squared","bmi_log"]

# StandardScalerのインスタンスを作成
scaler = StandardScaler()
# 選択した特徴量の平均値と標準偏差を計算し、標準化を実行
train[selected_features] = scaler.fit_transform(train[selected_features])
test[selected_features] = scaler.transform(test[selected_features])

In [6]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
train[selected_features]= scaler.fit_transform(train[selected_features])
test[selected_features]= scaler.fit_transform(test[selected_features])

In [7]:
# correlation_abs =train.corrwith(train["charges"]).abs()
# train = train.mul(correlation_abs)
# test = test.mul(correlation_abs)

In [8]:
y = train["charges"] # 目的変数
X = train.drop(["charges"], axis=1) # 目的変数を除いたデータ
X.head()

,age,bmi,children,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest,age_bmi,age_squared,bmi_log
id,,,,,,,,,,,,,,
0,0.173913,0.451481,3,0,1,1,0,0,0,1,0,0.176772,0.093319,0.550877
1,0.500000,0.343963,1,0,1,1,0,0,0,0,1,0.320719,0.359756,0.440080
2,0.217391,0.453602,0,0,1,0,1,0,1,0,0,0.202634,0.121951,0.552967
3,0.043478,0.667674,2,1,0,1,0,0,0,1,0,0.145580,0.020148,0.747636
4,0.586957,0.338080,1,1,0,1,0,0,1,0,0,0.364058,0.450954,0.433723