In [13]:
import pandas as pd
train = pd.read_csv("train.tsv", sep="\t", index_col=0) # 学習用データ
test = pd.read_csv("test.tsv", sep="\t", index_col=0)   # 評価用データ
sample_submit = pd.read_csv("sample_submit.tsv", sep="\t", index_col=0, header=None) # 応募用サンプルファイル

In [14]:
train.head()

    survived  pclass     sex   age  sibsp  parch     fare embarked
id
3          1       1  female  35.0      1      0  53.1000        S
4          0       3    male  35.0      0      0   8.0500        S
7          0       3    male   2.0      3      1  21.0750        S
9          1       2  female  14.0      1      0  30.0708        C
11         1       1  female  58.0      0      0  26.5500        S

In [15]:
test.head()

    pclass     sex   age  sibsp  parch     fare embarked
id
0        3    male  22.0      1      0   7.2500        S
1        1  female  38.0      1      0  71.2833        C
2        3  female  26.0      0      0   7.9250        S
5        3    male   NaN      0      0   8.4583        Q
6        1    male  54.0      0      0  51.8625        S

In [16]:
train['survived'].value_counts()

0    266
1    179
Name: survived, dtype: int64

In [17]:
train = train[["survived","sibsp", "parch", "fare"]]
test = test[["sibsp", "parch", "fare"]]

In [18]:
y = train["survived"] # 目的変数
X = train.drop(["survived"], axis=1) # 目的変数を除いたデータ

In [19]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X, y)

LogisticRegression()

In [20]:
pred = model.predict_proba(test)[:, 1]

In [21]:
print(pred[:5])

[0.27086714 0.52854033 0.32716076 0.32918889 0.50920521]

In [22]:
sample_submit[1] = pred
sample_submit.to_csv('submit.tsv', header=None, sep='\t')